@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.order{
  font-size: 1.7rem;
}

.order::before{
  content: '';
  background: linear-gradient(to bottom, #ffffff, #dfdfdf, #414141);
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin: -2px;
  border-radius: 9999px;
}

.order a{
  background-image: linear-gradient(to right, #7A8C0C, #030202);
  background-clip: text;
  color: transparent;
}


.Homee{
background-image: url('../components/img/WATCHME.png');
background-size: cover;
}

.titleHome{
  background-image: linear-gradient(to right, #7A8C0C, #A0A09D);
  background-clip: text;
}


